@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F7F7F7;
}

.favorite-icon{
    font-size: 1rem !important; /* 16px */ 
    line-height: 1.5rem !important; /* 24px */
}

.new-post-icon{
    @apply text-3xl !important;
}

.body-grid{
    display: flex;
    grid-template-areas: ;
}

.current-user-avatar{
    width: 150px !important;
    height: 150px !important;
}